@font-face {
  font-family: 'Tusker Grotesk';
  src: url('/tuskergrotesk-6700-bold-wisabo/TuskerGrotesk-2700Bold.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Tusker Grotesk';
  src: url('/tuskergrotesk-6700-bold-wisabo/TuskerGrotesk-4500Medium.otf') format('opentype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'TuskerGrotesk';
  src: url('/tuskergrotesk-6700-bold-wisabo/TuskerGrotesk-6700Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

