@font-face {
  font-family: 'TuskerGrotesk';
  src: url('/tuskergrotesk-6700-bold-wisabo/TuskerGrotesk-6700Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

